body {
    font-family: Arial, sans-serif;
    background-image: url('../../img/Connexion.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: white;
}

.form {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 0.47);
    
}

